body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: blue;
}

form {
	text-align: center;
}

label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

button {
	margin-top: 10px;
}

#fortune {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}